Docs/n8n_workflows/flujo_n8n_agente_proyecto_v3.json
{
  "name": "Generador de Texto - PROYECTOS",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "artiefy-generate-content-v3",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "3a483a9f-ac17-4a3c-8150-1d1f3d81594d",
      "name": "Webhook - Generar Contenido",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-1664, -64],
      "webhookId": "ddd8f9de-9e41-4f3f-83c4-98a0e032aeb9"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "={{ $json.body.prompt || $json.body.existingText || $json.body.titulo }}",
            "operator": {
              "name": "filter.operator.isNotEmpty",
              "type": "string",
              "singleValue": true
            }
          }
        },
        "options": {}
      },
      "id": "f36962f3-c327-4769-81fe-8d76b2a5def1",
      "name": "Validar Prompt",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-1392, -64]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "0de60a9e-fecb-4cda-a981-171bbe2fdb09",
      "name": "Error Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [-1392, 144]
    },
    {
      "parameters": {
        "jsCode": "const bodyData = $json.body || $json;\nconst requestedType = (bodyData.type || \u0027descripcion\u0027).toString().trim();\nconst normalizedType = requestedType.toLowerCase();\nconst userPrompt = (bodyData.prompt || \u0027\u0027).trim();\nconst titulo = (bodyData.titulo || \u0027\u0027).trim();\nconst descripcion = (bodyData.descripcion || \u0027\u0027).trim();\nconst existingText = (bodyData.existingText || \u0027\u0027).trim();\nconst sectionTitle = (bodyData.sectionTitle || \u0027\u0027).trim();\nconst sectionsContext = (bodyData.sectionsContext || \u0027\u0027).trim();\nconst isImproveMode = existingText.length \u003e 10;\nconst needsContext = [\u0027problema\u0027, \u0027justificacion\u0027, \u0027objetivogen\u0027, \u0027objetivosesp\u0027, \u0027descripcion\u0027].includes(normalizedType);\nlet contextInfo = \u0027\u0027;\nif ((needsContext || sectionTitle || sectionsContext) \u0026\u0026 (titulo || descripcion || sectionTitle || sectionsContext)) {\n  contextInfo = \u0027\\n\\n--- CONTEXTO DEL PROYECTO ---\u0027;\n  if (titulo) contextInfo += \u0027\\nTítulo del proyecto: \u0027 + titulo;\n  if (descripcion) contextInfo += \u0027\\nDescripción del proyecto: \u0027 + descripcion;\n  if (sectionTitle) contextInfo += \u0027\\nSección: \u0027 + sectionTitle;\n  if (sectionsContext) contextInfo += \u0027\\nSecciones adicionales:\\n\u0027 + sectionsContext;\n  contextInfo += \u0027\\n--- FIN DEL CONTEXTO ---\\n\u0027;\n}\nconst systemPrompts = {\n  titulo: isImproveMode\n    ? \u0027Eres un asistente de proyectos educativos.\\nEl estudiante ha escrito un título para su proyecto y quiere MEJORARLO.\\nReescribe el título haciéndolo más claro, profesional y motivador.\\nMantén la esencia e idea original pero mejora la redacción.\\nMáximo 80 caracteres.\\nResponde SOLO con el título mejorado, sin comillas ni explicaciones.\u0027\n    : \u0027Eres un asistente de proyectos educativos.\\nCrea un título claro y motivador para el proyecto que un ESTUDIANTE va a desarrollar.\\nEl título debe ser profesional pero accesible, específico y reflejar el entregable o solución que el estudiante creará.\\nMáximo 80 caracteres.\\nResponde SOLO con el título, sin comillas ni explicaciones.\u0027,\n  descripcion: isImproveMode\n    ? \u0027Eres un asistente experto en proyectos educativos.\\nEl estudiante ha escrito una descripción y quiere MEJORARLA.\\nReescribe la descripción haciéndola más clara, concisa y profesional.\\nMantén la esencia e ideas originales pero mejora la redacción.\\nNO menciones el título del proyecto.\\nUsa primera persona.\\n120-150 palabras.\\nResponde SOLO con la descripción mejorada, sin títulos ni formato markdown.\u0027\n    : \u0027Eres un asistente experto en proyectos educativos.\\nRedacta una descripción BREVE Y CONCISA del proyecto desde la perspectiva del ESTUDIANTE que lo va a realizar.\\n\\nIMPORTANTE: NO menciones el título del proyecto. Comienza directamente con \"En mi proyecto abordaré...\" o \"En este proyecto desarrollaré...\"\\n\\nLa descripción debe explicar en UN SOLO PÁRRAFO de 120-150 palabras:\\n1. ¿Qué problema o desafío vas a resolver?\\n2. ¿Qué vas a crear o desarrollar? (producto, app, guía, sistema, investigación, etc.)\\n3. ¿Qué habilidades aplicarás?\\n4. ¿Quién se beneficiará de tu proyecto?\\n\\nUsa un lenguaje claro, directo y motivador en primera persona. Evita repetir el nombre del proyecto.\\nResponde SOLO con la descripción en un párrafo, sin títulos ni formato markdown.\u0027,\n  problema: isImproveMode\n    ? \u0027Eres un asistente de proyectos educativos.\\nEl estudiante ha escrito el planteamiento del problema y quiere MEJORARLO.\\nReescribe el problema haciéndolo más claro, estructurado y con mejor redacción académica.\\nMantén la esencia e ideas originales pero mejora significativamente la redacción.\\nUsa el contexto del proyecto (título y descripción) para enriquecer el problema.\\n150-200 palabras.\\nResponde SOLO con el problema mejorado, sin títulos ni explicaciones.\u0027\n    : \u0027Eres un asistente de proyectos educativos.\\nBasándote en el TÍTULO y DESCRIPCIÓN del proyecto proporcionados en el contexto, redacta el PROBLEMA a resolver.\\nEl problema debe:\\n1. Describir la situación problemática o necesidad que motiva el proyecto\\n2. Explicar las consecuencias de no resolver este problema\\n3. Indicar a quiénes afecta y cómo\\n4. Justificar por qué es importante abordarlo\\n\\nRedacta en tercera persona con tono académico.\\n150-200 palabras.\\nResponde SOLO con el planteamiento del problema, sin títulos ni explicaciones.\u0027,\n  justificacion: isImproveMode\n    ? \u0027Eres un asistente de proyectos educativos.\\nEl estudiante ha escrito la justificación y quiere MEJORARLA.\\nReescribe la justificación haciéndola más convincente, estructurada y con mejor redacción académica.\\nMantén la esencia e ideas originales pero mejora significativamente la redacción.\\nUsa el contexto del proyecto para enriquecer la justificación.\\n180-220 palabras.\\nResponde SOLO con la justificación mejorada, sin títulos ni formato markdown.\u0027\n    : \u0027Eres un asistente de proyectos educativos.\\nBasándote en el TÍTULO y DESCRIPCIÓN del proyecto proporcionados en el contexto, redacta la JUSTIFICACIÓN explicando por qué es importante que el ESTUDIANTE realice este proyecto:\\n1. ¿Qué problema real o necesidad educativa/social/profesional aborda?\\n2. ¿Por qué es relevante resolver este problema?\\n3. ¿Qué competencias y habilidades desarrollará el estudiante?\\n4. ¿Cómo le ayudará en su formación académica y desarrollo profesional?\\n5. ¿Qué impacto puede tener su solución en otros usuarios o la comunidad?\\n\\nUsa un tono motivador y profesional.\\n180-220 palabras.\\nResponde SOLO con la justificación, sin títulos ni formato markdown.\u0027,\n  objetivogen: isImproveMode\n    ? \u0027Eres un asistente de proyectos educativos.\\nEl estudiante ha escrito el objetivo general y quiere MEJORARLO.\\nReescribe el objetivo haciéndolo más claro, específico y con mejor estructura.\\nMantén la esencia pero asegura que inicie con verbo en infinitivo.\\nUsa el contexto del proyecto para enriquecer el objetivo.\\nResponde SOLO con el objetivo general mejorado, sin numeración ni explicaciones.\u0027\n    : \u0027Eres un asistente de proyectos educativos.\\nBasándote en el TÍTULO y DESCRIPCIÓN del proyecto proporcionados en el contexto, redacta UN ÚNICO objetivo general que describa lo que el ESTUDIANTE logrará al completar este proyecto.\\nEl objetivo debe:\\n- Iniciar con un verbo en infinitivo de acción (crear, diseñar, desarrollar, implementar, construir, investigar)\\n- Ser claro, específico y alcanzable\\n- Describir el entregable o resultado final del proyecto\\n- Incluir el contexto o propósito de aplicación\\n\\nFormato: \"[Verbo] + [qué va a crear/hacer] + [para qué/con qué fin] + [contexto de aplicación]\"\\nResponde SOLO con el objetivo general, sin numeración ni explicaciones.\u0027,\n  objetivosesp: isImproveMode\n    ? \u0027Eres un asistente de proyectos educativos.\\nEl estudiante ha escrito los objetivos específicos y quiere MEJORARLOS junto con sus actividades.\\nReescribe los objetivos haciéndolos más claros, medibles y con mejor estructura.\\nMantén la esencia pero asegura que cada objetivo inicie con verbo en infinitivo.\\nIncluye 2 a 3 actividades por objetivo.\\nUsa el contexto del proyecto para enriquecer los objetivos.\\n\\nFormato exacto:\\nObjetivo 1: [objetivo]\\nActividad: [actividad]\\nActividad: [actividad]\\n\\nObjetivo 2: [objetivo]\\nActividad: [actividad]\\nActividad: [actividad]\\n\\nResponde SOLO con la lista formateada, sin subtitulos ni explicaciones.\u0027\n    : \u0027Eres un asistente de proyectos educativos.\\nBasándote en el TÍTULO y DESCRIPCIÓN del proyecto, redacta entre 3 y 5 objetivos específicos que describan las metas concretas que el ESTUDIANTE alcanzará.\\nCada objetivo debe:\\n- Iniciar con un verbo en infinitivo de acción medible (analizar, investigar, diseñar, implementar, evaluar, construir, aplicar)\\n- Ser específico y alcanzable dentro del proyecto\\n- Describir una tarea o componente concreto del proyecto\\n- Estar orientado a resultados tangibles\\n\\nAdemás, para cada objetivo incluye 2 a 3 actividades claras y medibles.\\n\\nFormato exacto:\\nObjetivo 1: [objetivo]\\nActividad: [actividad]\\nActividad: [actividad]\\n\\nObjetivo 2: [objetivo]\\nActividad: [actividad]\\nActividad: [actividad]\\n\\nResponde SOLO con la lista formateada, sin subtitulos ni explicaciones.\u0027,\n};\nconst maxTokens = {\n  titulo: 120,\n  descripcion: 350,\n  problema: 400,\n  justificacion: 450,\n  objetivogen: 250,\n  objetivosesp: 700,\n};\nconst temperature = {\n  titulo: 0.85,\n  descripcion: 0.7,\n  problema: 0.72,\n  justificacion: 0.7,\n  objetivogen: 0.68,\n  objetivosesp: 0.7,\n};\nconst model = \u0027gpt-4o-mini\u0027;\nconst systemPrompt = systemPrompts[normalizedType] || systemPrompts.descripcion;\nlet finalUserPrompt = \u0027\u0027;\nif (isImproveMode) {\n  finalUserPrompt = \u0027TEXTO ORIGINAL A MEJORAR:\\n\u0027 + existingText + contextInfo;\n} else if (needsContext) {\n  finalUserPrompt = contextInfo + \u0027\\nSOLICITUD: \u0027 + userPrompt;\n} else {\n  finalUserPrompt = userPrompt;\n}\nreturn [\n  {\n    json: {\n      type: requestedType,\n      prompt: userPrompt,\n      existingText: existingText,\n      isImproveMode: isImproveMode,\n      titulo: titulo,\n      descripcion: descripcion,\n      model,\n      payload: {\n        model,\n        temperature: temperature[normalizedType] ?? 0.7,\n        max_tokens: maxTokens[normalizedType] ?? 500,\n        messages: [\n          { role: \u0027system\u0027, content: systemPrompt },\n          { role: \u0027user\u0027, content: finalUserPrompt },\n        ],\n      },\n    },\n  },\n];"
      },
      "id": "72c2351d-9d42-45b3-8daf-d480b1f101b6",
      "name": "Preparar Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1152, -64]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.payload }}",
        "options": {}
      },
      "id": "b381c466-b286-4a9c-bca8-5f56e00a7efb",
      "name": "HTTP Request - OpenAI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [-912, -64],
      "credentials": {
        "httpHeaderAuth": {
          "id": "ak6b2UerxyWkjh7U",
          "name": "Header Auth account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const response = $json; const requestData = $node[\u0027Preparar Prompt\u0027].json; const content = response?.choices?.[0]?.message?.content?.trim?.(); const errorMessage = response?.error?.message; if (!content || errorMessage) { return [{ json: { success: false, statusCode: response.statusCode || 502, error: errorMessage || \u0027OpenAI no devolvió contenido válido\u0027 } }]; } return [{ json: { success: true, statusCode: 200, body: { success: true, type: requestData.type, content, model: requestData.model, prompt: requestData.prompt, isImproveMode: requestData.isImproveMode || false, usedContext: !!(requestData.titulo || requestData.descripcion), generatedAt: new Date().toISOString() } } }];"
      },
      "id": "eb7eab96-8663-494b-9e65-83d2d1e00d15",
      "name": "Procesar Respuesta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-672, -64]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "boolean": [
              {
                "value1": "={{ $json.success }}",
                "value2": true
              }
            ]
          }
        },
        "options": {}
      },
      "id": "6bbe892b-ffc7-4106-88b6-7b33efc8385c",
      "name": "Evaluar Resultado",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-432, -64]
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "id": "261befb9-f8d8-4a83-9ab3-c3dabf011849",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [-192, -176]
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{ $json.statusCode || 500 }}"
        }
      },
      "id": "422c797f-4ecc-4906-be63-17a6c7ba03ec",
      "name": "Responder Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [-192, 80]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Generar Contenido": {
      "main": [
        [
          {
            "node": "Validar Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Prompt": {
      "main": [
        [
          {
            "node": "Preparar Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Prompt": {
      "main": [
        [
          {
            "node": "Responder Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Prompt": {
      "main": [
        [
          {
            "node": "HTTP Request - OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - OpenAI": {
      "main": [
        [
          {
            "node": "Procesar Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Respuesta": {
      "main": [
        [
          {
            "node": "Evaluar Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluar Resultado": {
      "main": [
        [
          {
            "node": "Responder OK",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "0c0e4855-23a5-4261-b3eb-b6f25ab3914f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9274630f1207c3987e0db2530e01c6f5cdb0496fd052cc39f9b0f1545012cd23"
  },
  "id": "kUwxTB5c8xOKLZ23",
  "tags": []
}
